{% extends 'base.html' %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ image_file }}">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{  current_user.email }}</p>
            </div>
        </div>
        <!-- FROM HERE -->
        <div class="content-section">
    <!-- REGISTRATION FORM -->
        <form method="POST" action="/register">
        <!-- token for CRSF -->
            {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Account Info</legend>
            <!-- SECTION FOR USERNAME -->
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label") }}

                        <!-- USERNAME ERROR HANDLING -->
                        {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for errors in form.username.errors %}
                                        <span> {{ error }} </span>
                                    {% endfor %}
                                </div>
                            {% else %}
                            {{ form.username(class="form-control form-control-lg") }}
                        {% endif %} 
                    </div>
            <!-- SECTION FOR EMAIL-->
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}

                        <!-- EMAIL ERROR HANDLING -->
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for errors in form.email.errors %}
                                        <span> {{ error }} </span>
                                    {% endfor %}
                                </div>
                            {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
            

                </fieldset>
                <!-- SUBMIT BUTTON -->
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
        </form>
    </div>
    </div>

{% endblock %}