{% extends 'base.html' %}

{% block content%}

    <div class="content-section">

        <form method="POST" action="">
        <!-- token for CRSF -->
            {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Join & Post!</legend>
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label") }}
                        {{ form.username(class="form-control form-control-lg") }}
                    </div>
                </fieldset>
        </form>

    </div>

{% endblock content %}